h1{
    text-align: center;
    color: green;
}
.about-me{
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
    background-color: gray;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;

}
img{
    height: 200px;
    width: 80%;
}
p{
    text-align: justify;
    color: white;
}